<div class="about-container">
    <h2>Hello I am tharindu Dananjaya</h2>

    <h3>Hello   {{param}}</h3>
    <h3>{{queryParam}}</h3>
    
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt hic eveniet nostrum quam, quae debitis, illo aspernatur adipisci, ipsum tenetur cupiditate corrupti voluptate. Velit provident quidem voluptatibus totam illo! Aperiam saepe, tempora maiores nobis laudantium ratione dolor repudiandae excepturi quis. Corporis, suscipit. Dolore vero repudiandae sequi laborum unde, repellendus qui!
    </p>
  
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit quisquam consectetur molestiae facere temporibus reprehenderit libero ipsa illum corporis. Quis perspiciatis ipsum ducimus quisquam in.</p>
  
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsum delectus repellat labore consequuntur porro voluptatum consectetur atque, quisquam assumenda nihil.</p>
  </div>